.home {
   padding-top: 50px;
   background: #EBEBEB;
   .icon {
      border-bottom: 1px solid #B6AF9B;
      text-align: center;
      span {
         border-radius: 5px;
         font-size: 10px;
         color: #eee;
         padding: 3px 7px;
         background: #a7a7a7;
         position: relative;
         top: 5px;
         text-decoration: none;
      }
   }
}