.forthcom {
   padding: 15px;
   padding-top: 30px;
   .more {
      height: 65px; 
      line-height: 65px;
      text-align: center;
      a {
         color: #666;
         border: 1px solid #B8B19D;
         height: 30px;
         padding: 7px 50px;
         -webkit-border-radius: 30px;
                 border-radius: 30px;
         text-decoration: none;
      }
   }
}